# Sensitive
.env

# IDE
.vscode/
.idea/
.pio/

# Python
.venv/
__pycache__/
*.pyc

# JavaScript
node_modules/

# Binaries/objects
dist/
*.exe
*.o
*.obj
*.elf
*.dll
*.so

# Temp
build/
.cache/
tmp/
*.log*

# Altium
__Previews/
History/
Project\ Logs*/
Project\ Outputs*/
*.SchDocPreview
*.PcbDocPreview
*.PrjPcbStructure
Status_Report.txt
*.PcbDoc.htm
**/*.ldb
*.metadata

# OS
._*
Thumbs.db
*desktop.ini
.DS_Store
.Spotlight-V100/
.Trashes/
